TYPE=Ethernet
ONBOOT=yes
BOOTPROTO=none

{% if item.defroute is defined and item.defroute == 'yes' %}
DEFROUTE={{ item.defroute }}
{% endif %}

PEERDNS=yes
PEERROUTES=yes
USERCTL=no
IPV4_FAILURE_FATAL=no
IPV6INIT=no

UUID={{ item.uuid }}
NAME={{ item.name }}
DEVICE={{ item.name }}
IPADDR={{ item.ip }}
NETMASK={{ item.mask }}

{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}

{% if item.dns1 is defined %}
DNS1={{ item.dns1 }}
{% endif %}

{% if item.dns2 is defined %}
DNS2={{ item.dns2 }}
{% endif %}