#!/bin/bash

{% if service_nginx.hosts is defined %}
{% for host in service_nginx.hosts %}
{% if host.auth_basic is defined %}
    /root/scripts/nginx/generate_htpasswd_{{ host.hostname }}.sh
{% endif %}
{% endfor %}
{% endif %}

echo "1" > /root/scripts/nginx/generate_htpasswd_done