#!/bin/bash

HOSTNAME="{{ item.hostname }}"
USER="{{ service_nginx.user }}"
GROUP="{{ service_nginx.group }}"

{% if item.auth_basic is defined %}
HTTP_USER="{{ item.auth_basic.user }}"
HTTP_PASSWORD="{{ item.auth_basic.password }}"
{% else %}
exit 0
{% endif %}

touch /etc/nginx/hosts/$HOSTNAME/htpasswd
htpasswd -cmb /etc/nginx/hosts/$HOSTNAME/htpasswd $HTTP_USER $HTTP_PASSWORD
chown $USER:$GROUP /etc/nginx/hosts/$HOSTNAME/htpasswd
chmod 0400 /etc/nginx/hosts/$HOSTNAME/htpasswd